@import url("../../main.css");

#ticketTypeParent {
    -fx-pref-height: 150;
    -fx-pref-width: 350;
    -fx-padding: 15;
    -fx-background-radius: 10;
    -fx-background-color: white;
}

.caption-label, .time-label {
    -fx-font-size: 12;
    -fx-font-family: Tahoma;
    -fx-font-weight: 200;
    -fx-text-fill: #9ea9b7;
}

.time-label {
    -fx-font-size: 28;
    -fx-text-fill: -default-text-fill-black;
}

#flightPath {
    -fx-background-color: #b6b6b6;
}

#conditionLabel {
    -fx-font-size: 16px;
    -fx-text-fill: #39d36f;
}