@import url("../../main.css");

#airportParent {
    -fx-pref-height: 30;
    -fx-pref-width: 230;
    -fx-padding: 5 10 5 10;
}

#airportCountry {
    -fx-font-weight: 500;
    -fx-text-fill: derive(-default-text-fill-black, 80%);;
}

#airportId {
    -fx-font-weight: 900;
    -fx-text-fill: -strong-description-grey-label;
}