.root {
    background-color: #EFF1F4;
}

.priceLabel {
    -fx-font-size: 28px;
}

.buyButton {
    -fx-background-color: #fc6e32;
    -fx-font-size: 28px;
    -fx-text-fill: white;
    -fx-border-radius: 22;
}
.buyButton:hover {
    -fx-background-color: #FF6F32;
}
.buyButton:pressed {
    -fx-background-color: #ec662c;
}

.roundedBox {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.ticketTitleLabel {
    -fx-font-size: 19px;

}

.titleLabel {
    -fx-text-fill: black;
    -fx-font-size: 17px;
}

.descriptionLabel {
    -fx-text-fill: grey;
    -fx-font-size: 13px;
}