@import url("../main.css");

#ticketSearchParent {
    -fx-padding: 30;

}


#backButton {
    -fx-font-size: 14px;
    -fx-border-radius: 7;
    -fx-padding: 7 15 7 15;
    -fx-background-color: coral;
}

.title1 {
    -fx-font-weight: 600;
    -fx-text-fill: -default-text-fill-black;
    -fx-font-size: 17px;
}

.title2 {
    -fx-text-fill: -strong-description-grey-label;
    -fx-font-size: 14px;
}

.airport-city-label {
    -fx-font-weight: 400;
    -fx-font-size: 22;
}

.airportBox {
    -fx-spacing: 12;
    -fx-border-insets: 22px;
    -fx-background-insets: 22px;
}

#flightRoundedBox {
    -fx-pref-height: 120;
    -fx-pref-width: 430;
}

#seatComboBox {
    -fx-pref-width: 60;
}

#seatComboBox .list-view .list-cell {
    -fx-alignment: center;
    -fx-pref-width: 50;
    -fx-pref-height: 30;
}

#seatComboBox .list-view .list-cell:selected,
#seatComboBox .list-view .list-cell:hover {
    -fx-text-fill: -default-text-fill-black;
    -fx-background-color: -default-selected-cell-background;
}

#seatComboBox .list-view .list-cell:disabled {
    -fx-text-fill: derive(-default-text-fill-black, 80%);

}
